header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}
h1{
    color: royalblue;
}
nav{
    display: flex;
    align-items: center;
    gap: 20px;
    a{
        color: black;
        font-size: 22px;
    }
}
button{
    background-color: royalblue;
    color: white;
    padding: 6px 16px;
    border-radius: 5px;
}